<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
</head>
<body bgcolor = "#f2c07b">

<ul>
  <li><a class="active" href="{{ url_for('welcome',email=email) }}">Home</a></li>
</ul>
	<body>
		<center>
		<div>
		<h1>{{recipeName}}</h1>
		</div>
		<div>
		<h1>You Silly Goose! This is already in your favors list</h1>
		</div>
		<div>
		<h1><a href="{{ url_for('display_recipe',email=email, id=recipeID) }}">Return to {{recipeName}}</a></h1>
		
		
		</center>
	</body>
</html>