<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
</head>
<body bgcolor = "#f2c07b">

<ul>
  <li><a class= href="{{ url_for('welcome') }}">Home</a></li>
  <li><a class= href="{{ url_for('user_login') }}">Login</a></li>
</ul>

	<center>
	<h1>Create New User</h1>
		<form  method="POST" role="form">
			<div class="input-group">
				<input class="form-control" placeholder="Email" name="email">
			</div>
			<div>
				<input class="form-control" placeholder="Username" name="username">
			</div>
			<div>
				<input class="form-control" placeholder="First Name" name="firstName">
			</div>
			<div>
				<input class="form-control" placeholder="Last Name" name="lastName">
			</div>
			
			<span class="input-group-btn">
				<button class="btn btn-submit" type="submit">Create</button>
			</span>
		</form>
	</center>
	
</html>