<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
</head>
<body bgcolor = "#f2c07b">

<ul>
  <li><a class="active" href="{{ url_for('user_login') }}">Login</a></li>
  <li><a href="{{ url_for('user_login') }}">Your Page</a></li>
  <li><a href="{{ url_for('user_login') }}">View All Recipes</a></li>
</ul>




   
	
		<!-- Joe Input -->
	<div class="container main">
    <div class="header">
		<center>
		<h1>Chew</h1>
		<img src="{{url_for('static', filename='Apple.png')}}"  alt="apple" style="width:304px;height:330px;">
        <h1>Search For A Recipe</h1>
		</center>
        
		<form class="">
		<center>
            Search for your recipie
            <div class="input-group">
				<input class="form-control" placeholder="Name Of Recipe">
                <input class="form-control" placeholder="Calories">
				<input class="form-control" placeholder="Time">
				<span class="input-group-btn">
		        <button class="btn btn-submit" type="submit">Search</button>
            </span>
            </div>
			
		</center>
        </form>
    </div>
    
	

</body>

</html>