 <!--
Design by Bryant Smith
http://www.bryantsmith.com
http://www.aszx.net
Released absolutely free to use anywhere, all I ask is that you kindly leave the link back at the bottom.

Name       : A Subtle Orange
Description: One column (w/ one micro column for links)
Version    : 1.0
Released   : 20081008
-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Chew</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel = "stylesheet" type="text/css" href= "{{ url_for('static',filename='asubtleorange.css') }}">
</head>
<body>
<div id="page"> 
    <div id="header">
    	<div class="title">Chew</div>
        <div class="subText">Good Food - Good Mood</div>
    </div>
    <div id="bar">
        <div class="menuLink"><a href="{{ url_for('user_login') }}">Login</a></div>
        <div class="menuLink"><a href="{{ url_for('personal_page', email=email) }}">Your Page</a></div>
        <div class="menuLink"><a href="{{ url_for('all_recipes', email=email) }}">All Recipes</a></div>
 
    </div>
    <div id="pageContent">
		<center>
			<img src="{{url_for('static', filename='Apple.png')}}"  alt="apple" style="width:304px;height:330px;">
    
		</center>
    <div class="articleTitle">Search For A Recipes</div>
        
        
      <div class="articleContent">
		<center>
		
	   <div class="input-group">
				<input class="form-control" placeholder="Name Of Recipe">
                <input class="form-control" placeholder="Calories">
				<input class="form-control" placeholder="Time">
				<span class="input-group-btn">
		        <button class="btn btn-submit" type="submit">Search</button>
            </span>
            </div>
		</center>
      
   	</div>


    </div>

</div>
      
</body>
</html>
