<!DOCTYPE html>
<html lang="en">

<head>
<body bgcolor = "#f2c07b">

</body>


</head>
<p><a href="{{ url_for('user_login') }}">Login</a>
<p><a href="{{ url_for('personal_page', email=email) }}">Your Page</a>
<p><a href="{{ url_for('all_recipes', email=email) }}">View all Recipes</a>
<body id="page-top" class="index">


   
	
		<!-- Joe Input -->
	<div class="container main">
    <div class="header">
		<center>
		<h1>Chew</h1>
		<img src="{{url_for('static', filename='Apple.png')}}"  alt="apple" style="width:304px;height:330px;">
        <h1>Search For A Recipe</h1>
		</center>
        
		<form class="">
		<center>
            Search for your recipie
            <div class="input-group">
				<input class="form-control" placeholder="Name Of Recipe">
                <input class="form-control" placeholder="Calories">
				<input class="form-control" placeholder="Time">
				<span class="input-group-btn">
		        <button class="btn btn-submit" type="submit">Search</button>
            </span>
            </div>
			
		</center>
        </form>
    </div>
    
	

</body>

</html>
