<html>
	<head>
	<body bgcolor = "#f2c07b">
	</body>
	</head>
	<p><a href="{{ url_for('welcome') }}">Home</a>
	<p><a href="{{ url_for('user_login') }}">Login</a>
	<p><a href="{{ url_for('personal_page') }}">Your Page</a>
	<body>
	<center>
		<h1>{{ recipe[1] }}</h1>
		<h2>Calories: {{recipe[5]}}&nbsp&nbsp&nbsp&nbsp&nbsp&nbspTime: {{recipe[4]}} minutes</h2>
		<h2><i>"A recipe is a story that ends with a good meal." </i></h2>
		<form method="POST" role="form">
			<button type="submit">Favor this Recipe!</button>
		</form>
		<h2> </h2>
	</center>
	<h1> Ingredients </h1>
		{% for Ingredient in Ingredient %}
			<h4>{{Ingredient[1]}}</h4>   <!--Ingredient name, Ingredient Unit, Amounnt, and Additional Discription-->
		{% endfor %}
	
	<h1> Steps</h1>
		{% for step in steps %}
			<h4>{{step[0]}}.&nbsp&nbsp{{step[2]}}</h4>
		{% endfor %}
	
	</body>
</html>