<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
</head>
<body bgcolor = "#f2c07b">

<ul>

  <li><a href="{{ url_for('user_login') }}">Login</a></li>
  <li><a href="{{ url_for('personal_page') }}">Your Page</a></li>
</ul>
	<body>
		<center>
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Name&emsp;&emsp;</th>

						<th>Calories&emsp;&emsp;</th>

						<th>Cooking Time&emsp;&emsp;</th>
						
						<th>Ingredients&emsp;&emsp;</th>
					</tr>
				</thead>
				<tbody>
				{% for recipe in recipes %}
					<tr>
						<td>
							<a class="title" href="{{ url_for('display_recipe', id=recipe[0], email=email) }}">{{recipe[1]}}</a>
						</td>
						<td>{{recipe[5]}}</td>
						<td>{{recipe[4]}}</td>
						<td>none</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
		</center>
	</body>
	
</html>