<html>
	<head>
	<body bgcolor = "#99ff66">
	</body>
	</head>
	<body>
	<p><a href="{{ url_for('welcome') }}">Home</a>
	<center>
		<h1>Chew Login </h1>
        <h1>Login</h1>
		
		<form method="POST" role="form">
		<div class="input-group">
				<input class="form-control" placeholder="Email" name="email">
                <input class="form-control" placeholder="Password">
				<span class="input-group-btn">
		        <button class="btn btn-submit" type="submit">Login</button>
            </span>
		</div>
		</form>
			<h1>Don't Have a Account? Create one!</h1>
		
			<img src="{{url_for('static', filename='Wilkin.jpg')}}"  alt="Wilkin" style="width:150px;height:200px;">
			
			
			<h1><i>"Creating an account was the best thing I have ever done." </i></h1>
			<div>
                <h1><a href="{{ url_for('create_new_user')}}">Create New Account<a></h1>
			</div>
		
	</center>
	</body>
</html>