<!DOCTYPE html>
<html>
<head>
<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
</head>
<body bgcolor = "#f2c07b">

<ul>
  <li><a  href="{{ url_for('welcome', email=email) }}">Home</a></li>
  <li><a href="{{ url_for('user_login') }}">Login/Logout</a></li>
</ul>
	<center>
	
		<h1>Your Page </h1>
		<h1><i>"Your Favorite Recipies" </i></h1>
		<h1>{{ recipe }}</h1>
		{% for recipe in recipes %}
			<h1><a href="{{ url_for('display_recipe',email=email, id=recipe[0]) }}">{{recipe[1]}}</a></h1>
		{% endfor %}
	</center>
	</body>
</html>